@media screen and (max-width:800px)  {
    .navbar-container{
        flex-direction: column;
        align-items: center;
        
     } 
     .navbar-container>div{
        margin-top: 12px;
     }
     .fifty-off{
      left: 18%;
     }
}
@media screen and (max-width:500px) {
   .navbar-container{
      flex-direction: row;
     
   }
   .nav-menu{
      display: block;
   }
  .nav-items{
   display: none;
  }
  .banner-main{
   flex-direction: column;
  }
  .banner-childs{
   width: 100%;
  }
  .fifty-off{
   left: 20%;
  }
}


